@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Ubuntu:wght@300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #c9d6ff;
    background: linear-gradient(to right, #282c38, #e2e2e2);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}
.form-container{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 40px;
    height: 100%;
    line-height: auto;
}
header{
    position: relative;
}
.container hr{
    width: 100%;
    color:#282c38
}
.container header{
    position: relative;
    right: 30%;
}
.container main{
    margin: 20px 0px;
    margin-bottom: 50px;
    display: flex;
    justify-items: center;
    flex-direction: column;
}
.container footer{
    margin-left: 50%;
    margin-top: 10%;
}
.container h2{
    font-size: 2rem;
    font-weight: 800;
    line-height: 25px;
    letter-spacing: 0.7px;
    padding: 20px;
    padding-right: 10px;
    text-align: center;
}
.container p{
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}
.container input{
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}
.container button{
    background-color: #2d26ec;
    color: white;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}
