@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Sixtyfour&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Sixtyfour&display=swap');

* {
    box-sizing: border-box;
}

.header__ {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: rgb(130, 248, 248);
    border-bottom: 20px solid black;
}

.header__1 {
    display: flex;
    justify-content: start;
    gap: 2.3vh;
    align-items: center;
    text-align: center;
    margin-left: 6vh;
}

.header__1 h1 {
    font-family: 'Sixtyfour', sans-serif;
    font-size: 3vh;
    color: rgb(3, 3, 216);
}

.header__1 a {
    text-decoration: none;
}

.header__1 i {
    font-size: 3.6vh;
    height: 100%;
}

.header__2 {
    margin-right: 13vh;
    display: flex;
    flex-direction: row;
    gap: 6vh;
    align-items: center;
    justify-content: end;
}

.header__2 h2 {
    font-size: 2vh;
}

.header__2 h2:hover {
    background-color: rgb(246, 255, 252);
    padding: 5px;
}

body {
    margin: 0 auto;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    background-color: #f0f0f0;
    background-image: url(image/fondo.png);
}

header {
    background-color: #82f8f8;
    border-bottom: 5px solid black;
    padding: 10px 0;
}

.main {
    margin: 10vh auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sobre_nosotros {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 80%;
    max-width: 800px;
    margin-bottom: 20px;
}

.sobre_nosotros_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.sobre_nosotros img {
    width: 50px;
    margin-right: 10px;
}

.sobre_nosotros h1 {
    margin: 0;
    font-size: 28px;
}

.servicios {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 80%;
    max-width: 1000px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.servicios_header{
    width: 100%;
}
.servicios h1 {
    margin: 0;
    font-size: 36px;
    color: #333;
}

.servicio {
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 20px 0;
    width: 100%;
    max-width: 800px;
}

.servicio h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

.servicio p {
    color: #666;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.grid_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.grid_container img {
    width: 20vh;
    height: 40vh;
    object-fit: cover;
    border: 1px solid #ccc;
}

.grid_container i {
    font-size: 4.9vh;
}

.container-footer {
    background-color: #fff;
    padding: 20px;
    width: 100%;
    border-top: 5px solid black;
    margin-top: 20px;
}

.footer1,
.footer2,
.footer3 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.footer1 .social-network a {
    font-size: 24px;
    color: black;
    margin-right: 20px;
}

.footer1 .come-back a {
    font-size: 16px;
    color: black;
}

.footer2 i {
    font-size: 13px;
    line-height: 20px;
    color: #666;
    margin-right: 5px;
    text-align: center;
}

.footer2 i:last-child {
    margin-right: 0;
}

.footer3 a {
    font-size: 14px;
    color: #ed63fb;
    text-decoration: none;
    margin-right: 10px;
}